html
    head
        link(rel="stylesheet", href="/css/styles.css")
    main
        form.verticalFlow(method="post", action ="/api/createSurvey/" + surveyId + "/answer")
            input(type="text", name="answer", placeholder="Réponse")
            button(type="submit") Enregistrer la réponse